<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <form method="post" action="/cadastro" enctype="multipart/form-data">

    Nome: <input type="text" name="nome"/><br>
    Foto de Perfil: <input type="file" name="avatar"/><br>
    Email: <input type="email" name="email"/><br>
    <input type="submit" value="Enviar" name="envia"/><br>

  </form>

</body>
</html>